.logo {
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  margin-left: auto;
}

h1 {
  text-align: center;
}

nav {
  margin: 0 auto;
  width: 80%;
}

nav ul {
  list-style: none;
  width: fit-content;
  margin: auto;
  padding: 0;
  display: flex;
  text-align: center;
}

nav a {
  text-decoration: none;
  width: 200px;
  padding: 0;
  margin: 0 25px;
  text-align: center;
  line-height: 64px;
  color: black;
  display: block;
}

nav a:hover {
  background: #eee;
}
[href="http://ec2-52-69-27-30.ap-northeast-1.compute.amazonaws.com/show_twitter_js"
]
{
  background: rgba(238, 238, 238, 0.8);
}

a {
  text-decoration: none;
  color: blue;
}

.btn {
  width: 50px;
  height: 30px;
  padding: 4px;
  text-align: center;
  background-color:rgb(255, 255, 240);
  cursor: pointer;
  margin: auto;
  opacity: 1;
}

.btn:hover{
  opacity: 0.8;
}

.input {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 30px auto 0;
  text-align: center;
  justify-content: space-between;
}

input {
  height: 32px;
  border-radius: 8px;
  border-color:#383c3c ;
  opacity: 0.8;
}
